<div class='todoStats'>
<span class='stat'>done:</span> <span class='value'><%= done %></span>
<br>
<span class='stat'>remaining:</span> <span class='value'><%= total-done %></span>
<br>

<span class='stat'>total:</span><span class='value'> <%= total %><span>
</div>

